<hlm-card class="bg-card w-full max-w-sm py-4 [--card-spacing:16px]">
  <div hlmCardContent class="flex items-center justify-between py-0">
    <div class="flex items-center justify-start space-x-2">
      <div class="w-fit rounded-4xl bg-[#fbd9f1] p-2">
        <span>TZ</span>
      </div>
      <h2 class="font-semibold">Tamás Zalán</h2>
    </div>
    <button hlmBtn variant="outline" size="icon-sm" type="button" (click)="logout()">
      <svg lucideLogOut size="18"></svg>
    </button>
  </div>
</hlm-card>
